@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
    background-color: #000000de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    font-family: "Lato", sans-serif;
    height: 100vh;
    color: #fff;
}

.movie-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000de;
    text-align: center;
}

.movie-wrapper {
  perspective: 1000px; /* required for rotateX to show depth */
  display: inline-block; /* shrink to theater width */
  text-align: left;
}

select{
  padding:5px;
  margin:15px;
  font-size:16px;
}

.price-info{
  text-align:left;
  margin-left:120px;
  font-weight:bold;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #4b006ede;
  padding-left: 20px;
  border-radius: 20px;
}

.movie-select {
  font-size: 18px;
}

.info {
  font-size: 18px;
  color: white;
}

.info span {
  margin-right: 15px;
}


.screen {
  background-color: #fff;
  height: 200px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-50deg);
  transform-origin: top center; /* pivot from top edge */
  box-shadow: 0 3px 10px rgba(255,255,255,0.7);
  border-radius: 5px;
}


.seat {
  background-color: #100dbd;
  height: 30px;
  width: 35px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  color:#000000de;
  font-weight: bold;
}

.row {
  display: flex;
}

.seat.selected {
  background-color: #43f317;
}

.seat.occupied {
  background-color: #726d6d;
  cursor: not-allowed;
}

.seat:hover:not(.occupied):not(.selected) {
  background-color: #08d408d3;
}

.seat:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.aisle {
  margin-right: 30px;
}



